<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-spacing: 5px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #ff0000;
}

.button1:hover {
  background-color: #ff3d02;
  color: white;
}

</style>

</head>
<body>

    <table style="height: 24px; width: 100%; float: center;padding: 5px;border: 1px solid black;">
        <tbody>
            <tr>
                <td style="width: 30%;"><strong>Timeline</strong></td>
                <td style="width: 30%;">&nbsp;</td>
                <td style="width: 30%; text-align: right;">2020-10-29</td>
            </tr>
        </tbody>
    </table>
    <form action="/">>
        <button>Home</button>
      </form>
    <table style="height: 600px; width:100%; border-color: black;">
        <tbody>
            <tr style="height: 90%;">
                <td>
                    <table>
                        <tr>
                            <td>
                                <form action="/server_connect/">
                                    <label for="server">Choose your browser from the list:</label>
                                    <input list="servers" name="server" id="server">
                                    <datalist id="servers">
                                      <option value="Timeline Main">
                                      <option value="Timeline Backup">
                                      <option value="Other Server #1">
                                      <option value="Other Server #2">
                                      <option value="Other Server #3">
                                    </datalist>
                                    <input type="submit">
                                  </form>
                            </td>
                            <td>
                                <b>Connection Status:</b>
                                {% if connected %}
                                {{ connected }}!
                                {% else %}
                                Disconnected
                                {% endif %}
                                <button class="button button1">Red</button>
                            </td>
                        </tr>
                    </table>
                Servers
                <form action="/upload/lightning.mp4">>
                    <button>Upload video</button>
                </form>
                <form action="/upload/file.txt">>
                    <button>Upload file</button>
                  </form>
                
                </td>
                <td style="width: 65%; height: 60%;"><iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik" title="W3Schools Free Online Web Tutorials"></iframe></td>
                <td style="width: 20%; height: 60%;">&nbsp;full scroll</td>
            </tr>
            <tr style="height: 82px;">
                <td style="width: 20%; height: 82px;">&nbsp;user/settings</td>
                <td style="width: 65%; height: 82px;">&nbsp;comments</td>
                <td style="width: 20%; height: 82px;">&nbsp;ad</td>
            </tr>
        </tbody>
    </table>
        <p>&nbsp;</p>

</body>
</html>
